create database [TakaZada]
USE [TakaZada]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/19/2018 3:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 12/19/2018 3:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](50) NULL,
	[UserId] [int] NULL,
	[IP] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](255) NULL,
	[ActionTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.ActivityLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/19/2018 3:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[TotalPrice] [float] NULL,
 CONSTRAINT [PK_dbo.Cart] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetails]    Script Date: 12/19/2018 3:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](max) NULL,
	[CartId] [int] NOT NULL,
	[ItemId] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[price] [nvarchar](max) NULL,
	[Name] [nvarchar](1000) NULL,
	[Image] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.CartDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Case]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[Description] [nvarchar](4000) NULL,
	[WarrantyPeriod] [int] NULL,
	[TradeMark] [nvarchar](25) NULL,
	[Model] [nvarchar](25) NULL,
	[Color] [nvarchar](25) NULL,
	[Size] [nvarchar](255) NULL,
	[MainSupport] [nvarchar](255) NULL,
	[USB] [nvarchar](255) NULL,
	[DriverBays] [nvarchar](255) NULL,
	[Slots] [nvarchar](255) NULL,
	[IsDelete] [bit] NULL,
	[Price] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Case] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computer]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Image] [nvarchar](255) NULL,
	[CPU] [nvarchar](1000) NULL,
	[RAM] [nvarchar](255) NULL,
	[VideoCard] [nvarchar](255) NULL,
	[Hardware] [nvarchar](255) NULL,
	[SlotSupport] [nvarchar](255) NULL,
	[Display] [nvarchar](255) NULL,
	[Port] [nvarchar](255) NULL,
	[Extra] [nvarchar](255) NULL,
	[OS] [nvarchar](255) NULL,
	[Type] [nchar](10) NULL,
	[Trademark] [nchar](10) NULL,
	[Feature] [nvarchar](100) NULL,
	[Color] [nvarchar](30) NULL,
	[CPUSeries] [nchar](255) NULL,
	[ScreenSize] [nvarchar](20) NULL,
	[Resolution] [nvarchar](255) NULL,
	[StandardOfScreen] [nvarchar](50) NULL,
	[Size] [nvarchar](255) NULL,
	[Mass] [nchar](10) NULL,
	[WarrantyPeriod] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Price] [nvarchar](50) NULL,
	[Description] [nvarchar](4000) NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPU]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPU](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[WarrantyPeriod] [int] NULL,
	[TradeMark] [nchar](10) NULL,
	[CPUType] [nvarchar](30) NULL,
	[CPULine] [nvarchar](30) NULL,
	[CoreNum] [int] NULL,
	[ThreadNum] [int] NULL,
	[CoreCPU] [nvarchar](30) NULL,
	[BasicPulse] [nvarchar](30) NULL,
	[MaxPulse] [nvarchar](30) NULL,
	[CacheCPU] [nvarchar](30) NULL,
	[Size] [nvarchar](30) NULL,
	[Description] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
	[Price] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CPU] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hardware]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hardware](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[Description] [nvarchar](4000) NULL,
	[WarrantyPeriod] [int] NULL,
	[TradeMark] [nvarchar](25) NULL,
	[Memory] [nchar](10) NULL,
	[Label] [nchar](10) NULL,
	[ReadSpeed] [nvarchar](255) NULL,
	[WriteSpeed] [nvarchar](255) NULL,
	[Size] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
	[Price] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keyboard]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keyboard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[Description] [nvarchar](4000) NULL,
	[TradeMark] [nvarchar](25) NULL,
	[WarrantyPeriod] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Price] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainBoard]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainBoard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[Description] [nvarchar](4000) NULL,
	[TradeMark] [nvarchar](25) NULL,
	[Type] [nchar](10) NULL,
	[Model] [nvarchar](255) NULL,
	[Chipset] [nvarchar](255) NULL,
	[MaxRamMemory] [nchar](10) NULL,
	[RamType] [nvarchar](255) NULL,
	[RamNum] [int] NULL,
	[HDMINum] [nvarchar](25) NULL,
	[WarrantyPeriod] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Price] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_MainBoard] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewDetails]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewDetails](
	[NewDetailId] [int] IDENTITY(1,1) NOT NULL,
	[Details] [nvarchar](max) NULL,
	[Solution] [nvarchar](1000) NULL,
	[Item] [nvarchar](255) NULL,
	[NewId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.NewDetails] PRIMARY KEY CLUSTERED 
(
	[NewDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Type] [nvarchar](100) NULL,
	[Image] [nvarchar](1000) NULL,
	[Extra] [nvarchar](100) NULL,
	[BriefDetail] [nvarchar](1000) NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[NewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Radiator]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Radiator](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[Description] [nvarchar](4000) NULL,
	[TradeMark] [nvarchar](25) NULL,
	[Label] [nvarchar](25) NULL,
	[Material] [nvarchar](25) NULL,
	[Speed] [nvarchar](255) NULL,
	[Size] [nvarchar](255) NULL,
	[FanSize] [nvarchar](25) NULL,
	[Socket] [nvarchar](1000) NULL,
	[IsDeleted] [bit] NULL,
	[Price] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAM]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[Description] [nvarchar](4000) NULL,
	[TradeMark] [nvarchar](25) NULL,
	[Color] [nchar](10) NULL,
	[RamType] [nchar](10) NULL,
	[Memory] [nchar](10) NULL,
	[BusSpeed] [nvarchar](25) NULL,
	[WarrantyPeriod] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Price] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_RAM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptDetails]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptDetails](
	[ReceiptDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [nvarchar](max) NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_dbo.ReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[ReceiptDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipts]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipts](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[DeliveryCharges] [float] NOT NULL,
	[TotalPrice] [float] NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Receipts] PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Sex] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.UserAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VGA]    Script Date: 12/19/2018 3:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VGA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[TradeMark] [nchar](10) NULL,
	[Label] [nvarchar](30) NULL,
	[ChipsetManufacturer] [nvarchar](30) NULL,
	[Model] [nvarchar](255) NULL,
	[VGA] [nvarchar](255) NULL,
	[BoostClock] [nvarchar](255) NULL,
	[VGAMemory] [nvarchar](10) NULL,
	[RamType] [nvarchar](25) NULL,
	[MaxResolution] [nvarchar](255) NULL,
	[Directx] [nvarchar](25) NULL,
	[Size] [nvarchar](25) NULL,
	[WarrantyPeriod] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Price] [nvarchar](25) NULL,
	[Description] [nvarchar](4000) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_VGA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLog] ON 

INSERT [dbo].[ActivityLog] ([ID], [Action], [UserId], [IP], [UserAgent], [ActionTime]) VALUES (1, N'admin Login', 1, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36', CAST(N'2018-11-09T13:54:15.717' AS DateTime))
INSERT [dbo].[ActivityLog] ([ID], [Action], [UserId], [IP], [UserAgent], [ActionTime]) VALUES (49, N'admin Login', 1, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36', CAST(N'2018-11-10T09:36:37.950' AS DateTime))
INSERT [dbo].[ActivityLog] ([ID], [Action], [UserId], [IP], [UserAgent], [ActionTime]) VALUES (50, N'Delete hardware', 1, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36', CAST(N'2018-11-10T09:36:47.397' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ActivityLog] OFF
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [Email], [TotalPrice]) VALUES (1, N'Khang@gmail.com', 0)
INSERT [dbo].[Cart] ([CartId], [Email], [TotalPrice]) VALUES (2, N'abc@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[Cart] OFF
SET IDENTITY_INSERT [dbo].[CartDetails] ON 

INSERT [dbo].[CartDetails] ([ID], [type], [CartId], [ItemId], [Quantity], [price], [Name], [Image]) VALUES (1063, N'CPU', 1, N'1', 1, N'2.710.000', N'CPU Pentium Dual Core-G4600 (3.6GHz)', N'Bộ vi xử lý CPU Pentium Dual Core-G4600.jpg')
INSERT [dbo].[CartDetails] ([ID], [type], [CartId], [ItemId], [Quantity], [price], [Name], [Image]) VALUES (1064, N'RAM', 1, N'7', 1, N'1.520.000', N'Bộ nhớ DDR3 Kingmax 8GB (1600)', N'Bộ nhớ DDR3 Kingmax 8GB.jpg')
INSERT [dbo].[CartDetails] ([ID], [type], [CartId], [ItemId], [Quantity], [price], [Name], [Image]) VALUES (1066, N'CPU', 2, N'3', 1, N'3.425.000', N'Bộ vi xử lý/ CPU Core I3-7100 (3.9GHz)', N'Bộ vi xử lý CPU Core I3-7100.jpg')
SET IDENTITY_INSERT [dbo].[CartDetails] OFF
SET IDENTITY_INSERT [dbo].[Case] ON 

SET IDENTITY_INSERT [dbo].[Case] OFF
SET IDENTITY_INSERT [dbo].[Computer] ON 

SET IDENTITY_INSERT [dbo].[Computer] OFF
SET IDENTITY_INSERT [dbo].[CPU] ON 

SET IDENTITY_INSERT [dbo].[CPU] OFF
SET IDENTITY_INSERT [dbo].[Hardware] ON 

INSERT [dbo].[Hardware] ([Id], [Name], [Image], [Description], [WarrantyPeriod], [TradeMark], [Memory], [Label], [ReadSpeed], [WriteSpeed], [Size], [IsDeleted], [Price], [Quantity]) VALUES (1, N'Ổ cứng HDD WD 6TB WD6003FZBX Sata 3 (Đen)', N'Ổ cứng HDD WD 6TB WD6003FZBX Sata 3.jpg', N'Đang cập nhật', 60, N'Western Digital', N'6TB       ', N'WD6003FZBX', N'Chưa xác định', N'Chưa xác định', N'3.5"', 0, N'6.944.000', 10)
INSERT [dbo].[Hardware] ([Id], [Name], [Image], [Description], [WarrantyPeriod], [TradeMark], [Memory], [Label], [ReadSpeed], [WriteSpeed], [Size], [IsDeleted], [Price], [Quantity]) VALUES (3, N'Ổ cứng SSD IBM 2.5'''' 120GB (00AJ171)', N'Ổ cứng SSD IBM 2.5 120GB.jpg', N'Đang cập nhật', 12, N'IBM', N'120GB     ', N'N/A       ', N'N/A', N'600 MBps', N'N/A', 0, N'5.820.000', 10)
SET IDENTITY_INSERT [dbo].[Hardware] OFF
SET IDENTITY_INSERT [dbo].[Keyboard] ON 

INSERT [dbo].[Keyboard] ([Id], [Name], [Image], [Description], [TradeMark], [WarrantyPeriod], [IsDeleted], [Price], [Quantity]) VALUES (2, N'Bàn phím cơ Zidli CK300 đen', N'Bàn phím cơ Zidli CK300 đen.png', N'Mô tả
- Bàn phím full Cơ Jixian switches, switch có thêm 2 phần nhựa cố định
- Case vuông kim loại bo cover 4 góc
- Layout ANSI, chân nâng cố định.
- Keycap ABS, single orange LED, 
- Kết nối USB 2.0, độ hoàn thiện tốt.', N'Zidli', 12, 0, N'990.000', 10)
SET IDENTITY_INSERT [dbo].[Keyboard] OFF
SET IDENTITY_INSERT [dbo].[MainBoard] ON 

SET IDENTITY_INSERT [dbo].[MainBoard] OFF
SET IDENTITY_INSERT [dbo].[NewDetails] ON 

SET IDENTITY_INSERT [dbo].[NewDetails] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewId], [Title], [Type], [Image], [Extra], [BriefDetail]) VALUES (1, N'Nâng cấp nào sẽ cải thiện hiệu suất máy tính của bạn nhiều nhất?', N'Hiệu suất', N'cai-thien-hieu-suat-may-tinh.jpg', N'Hot', N'Bạn có cảm thấy PC của mình đang chạy chậm không?')
INSERT [dbo].[News] ([NewId], [Title], [Type], [Image], [Extra], [BriefDetail]) VALUES (2, N'Nếu laptop của bạn chạy quá chậm thì đây là cách khắc phục hiệu quả', N'Hiệu suất', N'nguyen_nhan_may_tinh_cham.jpg', NULL, N'Nếu chiếc laptop của bạn ngày càng trở nên chậm chạp thì đây là những giải pháp giải quyết triệt để vấn đề khó chịu này cho chiếc laptop.')
INSERT [dbo].[News] ([NewId], [Title], [Type], [Image], [Extra], [BriefDetail]) VALUES (3, N'Máy tính ngày càng chạy chậm, nguyên nhân và cách khắc phục', N'Hiệu suất', N'Máy tính bị chậm.jpg', NULL, N'Khi máy tính chạy ''chậm như rùa'', bạn phải mất khá nhiều thời gian cho việc vận hành. Cùng tìm hiểu những nguyên nhân chính và cách khắc phục.')
SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Radiator] ON 

SET IDENTITY_INSERT [dbo].[Radiator] OFF
SET IDENTITY_INSERT [dbo].[RAM] ON 

INSERT [dbo].[RAM] ([Id], [Name], [Image], [Description], [TradeMark], [Color], [RamType], [Memory], [BusSpeed], [WarrantyPeriod], [IsDeleted], [Price], [Quantity]) VALUES (1, N'Bộ nhớ DDR4 Adata 8GB (2400) AX4U240038G16-SRZ', N'Bộ nhớ DDR4 Adata 8GB (2400) AX4U240038G16-SRZ.jpg', N'                                        Mô tả
- Loại: DDR4
- Dung lượng: 1x 8GB
- Xung nhịp: 2400 MHz
- Độ trễ (cas): 16
        
        
        
        ', N'ADATA', N'Đỏ        ', N'XPG       ', N'8GB       ', N'400MHz', 12, 0, N'1.950.000', 10)
INSERT [dbo].[RAM] ([Id], [Name], [Image], [Description], [TradeMark], [Color], [RamType], [Memory], [BusSpeed], [WarrantyPeriod], [IsDeleted], [Price], [Quantity]) VALUES (3, N'Bộ nhớ DDR4 Adata 8GB (1600) AD3U1600W8G11-S', N'Bộ nhớ DDR4 Adata 8GB (1600) AD3U1600W8G11-S.png', N'Mô tả
- Kiểu bộ nhớ: DDR3
- Dung lượng: 8GB (1x8GB) 
- Tốc độ: 1600MHz 
- Tản nhiệt: Không có', N'ADATA', N'Xanh Lá   ', N'AD3U160-S ', N'8GB       ', N'1600MHz', 36, 0, N'1.799.000', 10)
INSERT [dbo].[RAM] ([Id], [Name], [Image], [Description], [TradeMark], [Color], [RamType], [Memory], [BusSpeed], [WarrantyPeriod], [IsDeleted], [Price], [Quantity]) VALUES (4, N'Bộ nhớ DDR4 Adata 8GB (2400) AD4U240038G17-R', N'Bộ nhớ DDR4 Adata 8GB (2400) AD4U240038G17-R.jpg', N'Mô tả
- Kiểu bộ nhớ: DDR4 
- Dung lượng: 8GB (1x8GB) 
- Tốc độ: 2400MHz 
- Tản nhiệt: Không có', N'ADATA', N'Đỏ        ', N'W8G16-BRZ ', N'8GB       ', N'400MHz', 36, 0, N'1.650.000', 10)
SET IDENTITY_INSERT [dbo].[RAM] OFF
SET IDENTITY_INSERT [dbo].[ReceiptDetails] ON 

INSERT [dbo].[ReceiptDetails] ([ReceiptDetailId], [ReceiptId], [Name], [Type], [Quantity], [Price], [Total]) VALUES (1, 1, N'Case Corsair Crystal Series 570X RGB ATX Mid-Tower Red (CC-9011111-WW)', N'Case', 3, N'4.655.000', 13965000)
SET IDENTITY_INSERT [dbo].[ReceiptDetails] OFF
SET IDENTITY_INSERT [dbo].[Receipts] ON 

INSERT [dbo].[Receipts] ([ReceiptId], [Email], [UserName], [SDT], [DeliveryCharges], [TotalPrice], [Status]) VALUES (1, N'Khang@gmail.com', N'KhangLuong', N'0792155597', 15000, 13980000, NULL)
SET IDENTITY_INSERT [dbo].[Receipts] OFF
SET IDENTITY_INSERT [dbo].[UserAccount] ON 

INSERT [dbo].[UserAccount] ([Id], [Email], [Password], [FirstName], [LastName], [PhoneNumber], [Sex], [DateOfBirth]) VALUES (2, N'Khang@gmail.com', N'123', N'Khang', N'Luong', N'0792155597', N'Male', CAST(N'1997-10-12T00:00:00.000' AS DateTime))
INSERT [dbo].[UserAccount] ([Id], [Email], [Password], [FirstName], [LastName], [PhoneNumber], [Sex], [DateOfBirth]) VALUES (3, N'abc@gmail.com', N'123', N'abc', N'abc', N'1212412', N'Male', CAST(N'2018-12-10T00:00:00.000' AS DateTime))
INSERT [dbo].[UserAccount] ([Id], [Email], [Password], [FirstName], [LastName], [PhoneNumber], [Sex], [DateOfBirth]) VALUES (5, N'12345@gmail.com', N'123', N'123', N'123', N'12341241', N'Male', CAST(N'2018-12-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserAccount] OFF
SET IDENTITY_INSERT [dbo].[VGA] ON 

INSERT [dbo].[VGA] ([Id], [Name], [Image], [TradeMark], [Label], [ChipsetManufacturer], [Model], [VGA], [BoostClock], [VGAMemory], [RamType], [MaxResolution], [Directx], [Size], [WarrantyPeriod], [IsDeleted], [Price], [Description], [Quantity]) VALUES (2, N'Card màn hình Asus 2GB EX-GTX1050-02G', N'Card màn hình Asus 2GB EX-GTX1050-02G.jpg', N'Asus      ', N'Không', N'NVIDIA', N'EX-GTX1050-02G', N'GeForce GTX 1050', N'1354 MHz', N'2GB', N'GDDR5', N'7680 x 4320', N'Đang cập nhật', N'Đang cập nhật', 36, 0, N'4.586.000', N'Thông tin sản phẩm sẽ được cập nhật trong thời gian sớm nhất', 10)
SET IDENTITY_INSERT [dbo].[VGA] OFF
ALTER TABLE [dbo].[Case] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Computer] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CPU] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Hardware] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Keyboard] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[MainBoard] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Radiator] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[RAM] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[VGA] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CartDetails_dbo.Cart_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Cart] ([CartId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_dbo.CartDetails_dbo.Cart_CartId]
GO
ALTER TABLE [dbo].[NewDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NewDetails_dbo.News_NewId] FOREIGN KEY([NewId])
REFERENCES [dbo].[News] ([NewId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NewDetails] CHECK CONSTRAINT [FK_dbo.NewDetails_dbo.News_NewId]
GO
ALTER TABLE [dbo].[ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReceiptDetails_dbo.Receipts_ReceiptId] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[Receipts] ([ReceiptId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReceiptDetails] CHECK CONSTRAINT [FK_dbo.ReceiptDetails_dbo.Receipts_ReceiptId]
GO
