<link href="~/Content/Consult.css" rel="stylesheet" />
<div class="container auth">
    <h1 class="text-center">Bootstrap form theme <span>It's nice!</span> </h1>
    <div id="big-form" class="well auth-box">
        <form>
            <fieldset>
                <!-- Form Name -->
                <legend>Nice form example</legend>
                <div class="btn-group">
                    <a href="index.html" class="btn btn-default">All</a>
                    <a href="example1.html" class="btn btn-default">example 1</a>
                    <a href="example2.html" class="btn btn-default">example 2</a>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class=" control-label" for="textinput">Username</label>
                    <div class="">
                        <input id="textinput" name="textinput" placeholder="Username" class="form-control input-md" type="text">
                        <span class="help-block">help</span>
                    </div>
                </div>
                <!-- Password input-->
                <div class="form-group">
                    <label class=" control-label" for="passwordinput">Password</label>
                    <div class="">
                        <input id="passwordinput" name="passwordinput" placeholder="Password" class="form-control input-md" type="password">
                        <span class="help-block">help</span>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class=" control-label" for="selectbasic">Country</label>
                    <div class="">
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                </div>
                <!-- Multiple Radios -->
                <div class="form-group">
                    <label class=" control-label" for="radios">Are you awesome</label>
                    <div class="">
                        <div class="radio">
                            <label for="radios-0">
                                <input name="radios" id="radios-0" value="1" checked="checked" type="radio">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input name="radios" id="radios-1" value="2" type="radio">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                    <label class=" control-label" for="singlebutton">Do you like this button</label>
                    <div class="">
                        <button id="singlebutton" name="singlebutton" class="btn btn-default">Button</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label" for="singlebutton">And this?</label>
                    <div class="">
                        <button id="singlebutton" name="singlebutton" class="btn btn-default">Button</button>
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class=" control-label" for="button1id">Double the action</label>
                    <div class="">
                        <button id="button1id" name="button1id" class="btn btn-default">Good Button</button>
                        <button id="button2id" name="button2id" class="btn btn-default">Scary Button</button>
                    </div>
                </div>
                <!-- File Button -->
                <div class="form-group">
                    <label class=" control-label" for="filebutton">Avatar</label>
                    <div class="">
                        <input id="filebutton" name="filebutton" class="input-file" type="file">
                    </div>
                </div>
                <!-- Select Multiple -->
                <div class="form-group">
                    <label class=" control-label" for="selectmultiple">Category</label>
                    <div class="">
                        <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                </div>
                <!-- Multiple Radios (inline) -->
                <div class="form-group">
                    <label class=" control-label" for="radios">Do you like pie?</label>
                    <div class="">
                        <label class="radio-inline" for="radios-0">
                            <input name="radios" id="radios-0" value="1" checked="checked" type="radio">
                            yes
                        </label>
                        <label class="radio-inline" for="radios-1">
                            <input name="radios" id="radios-1" value="2" type="radio">
                            No
                        </label>
                        <label class="radio-inline" for="radios-2">
                            <input name="radios" id="radios-2" value="3" type="radio">
                            what is pie?
                        </label>
                        <label class="radio-inline" for="radios-3">
                            <input name="radios" id="radios-3" value="4" type="radio">
                            I hate it!
                        </label>
                    </div>
                </div>
                <!-- Multiple Checkboxes -->
                <div class="form-group">
                    <label class=" control-label" for="checkboxes">Extra features</label>
                    <div class="">
                        <div class="checkbox">
                            <label for="checkboxes-0">
                                <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                                Paper plains
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="checkboxes-1">
                                <input name="checkboxes" id="checkboxes-1" value="2" type="checkbox">
                                Iron man
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group">
                    <label class=" control-label" for="checkboxes">Any more?</label>
                    <div class="">
                        <label class="checkbox-inline" for="checkboxes-0">
                            <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                            One
                        </label>
                        <label class="checkbox-inline" for="checkboxes-1">
                            <input name="checkboxes" id="checkboxes-1" value="2" type="checkbox">
                            Two
                        </label>
                        <label class="checkbox-inline" for="checkboxes-2">
                            <input name="checkboxes" id="checkboxes-2" value="3" type="checkbox">
                            Drum and bass
                        </label>
                        <label class="checkbox-inline" for="checkboxes-3">
                            <input name="checkboxes" id="checkboxes-3" value="4" type="checkbox">
                            Dub
                        </label>
                    </div>
                </div>
                <!-- Search input-->
                <div class="form-group">
                    <label class=" control-label" for="searchinput">Search Input</label>
                    <div class="">
                        <input id="searchinput" name="searchinput" placeholder="placeholder" class="form-control input-md" type="search">
                        <p class="help-block">help</p>
                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class=" control-label" for="textarea">Text Area</label>
                    <div class="">
                        <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    (function (e, t, n, r) { function o(t, n) { this.$element = e(t); this.settings = e.extend({}, s, n); this.init() } var i = "floatlabel", s = { slideInput: true, labelStartTop: "20px", labelEndTop: "10px", transitionDuration: .3, transitionEasing: "ease-in-out", labelClass: "", typeMatches: /text|password|email|number|search|url/ }; o.prototype = { init: function () { var e = this; var n = { "-webkit-transition": "all " + this.settings.transitionDuration + "s " + this.settings.transitionEasing, "-moz-transition": "all " + this.settings.transitionDuration + "s " + this.settings.transitionEasing, "-o-transition": "all " + this.settings.transitionDuration + "s " + this.settings.transitionEasing, "-ms-transition": "all " + this.settings.transitionDuration + "s " + this.settings.transitionEasing, transition: "all " + this.settings.transitionDuration + "s " + this.settings.transitionEasing }; if (this.$element.prop("tagName").toUpperCase() !== "INPUT") { return } if (!this.settings.typeMatches.test(this.$element.attr("type"))) { return } var r = this.$element.attr("id"); if (!r) { r = Math.floor(Math.random() * 100) + 1; this.$element.attr("id", r) } var i = this.$element.attr("placeholder"); var s = this.$element.data("label"); var o = this.$element.data("class"); if (!o) { o = "" } if (!i || i === "") { i = "You forgot to add placeholder attribute!" } if (!s || s === "") { s = i } this.inputPaddingTop = parseFloat(this.$element.css("padding-top")) + 10; this.$element.wrap('<div class="floatlabel-wrapper" style="position:relative"></div>'); this.$element.before('<label for="' + r + '" class="label-floatlabel ' + this.settings.labelClass + " " + o + '">' + s + "</label>"); this.$label = this.$element.prev("label"); this.$label.css({ position: "absolute", top: this.settings.labelStartTop, left: this.$element.css("padding-left"), display: "none", "-moz-opacity": "0", "-khtml-opacity": "0", "-webkit-opacity": "0", opacity: "0" }); if (!this.settings.slideInput) { this.$element.css({ "padding-top": this.inputPaddingTop }) } this.$element.on("keyup blur change", function (t) { e.checkValue(t) }); t.setTimeout(function () { e.$label.css(n); e.$element.css(n) }, 100); this.checkValue() }, checkValue: function (e) { if (e) { var t = e.keyCode || e.which; if (t === 9) { return } } var n = this.$element.data("flout"); if (this.$element.val() !== "") { this.$element.data("flout", "1") } if (this.$element.val() === "") { this.$element.data("flout", "0") } if (this.$element.data("flout") === "1" && n !== "1") { this.showLabel() } if (this.$element.data("flout") === "0" && n !== "0") { this.hideLabel() } }, showLabel: function () { var e = this; e.$label.css({ display: "block" }); t.setTimeout(function () { e.$label.css({ top: e.settings.labelEndTop, "-moz-opacity": "1", "-khtml-opacity": "1", "-webkit-opacity": "1", opacity: "1" }); if (e.settings.slideInput) { e.$element.css({ "padding-top": e.inputPaddingTop }) } }, 50) }, hideLabel: function () { var e = this; e.$label.css({ top: e.settings.labelStartTop, "-moz-opacity": "0", "-khtml-opacity": "0", "-webkit-opacity": "0", opacity: "0" }); if (e.settings.slideInput) { e.$element.css({ "padding-top": parseFloat(e.inputPaddingTop) - 10 }) } t.setTimeout(function () { e.$label.css({ display: "none" }) }, e.settings.transitionDuration * 1e3) } }; e.fn[i] = function (t) { return this.each(function () { if (!e.data(this, "plugin_" + i)) { e.data(this, "plugin_" + i, new o(this, t)) } }) } })(jQuery, window, document)

    $(document).ready(function () {
        //Floatlabel
        $('input').floatlabel();
        $('a, button').click(function (e) {
            e.preventDefault();
        });
    });
</script>