
<link href="~/Content/Consult.css" rel="stylesheet" />
<div class="container auth">
    <h1 class="text-center">Tìm hiểu về nhu cầu về máy tính và laptop <span>Đây là một vài câu hỏi liên quan đến về những vấn đề khi bạn muốn nâng cấp hoặc mua linh kiện, máy mới,...</span> </h1>
    <div id="big-form" class="well auth-box">
        <form>
            <fieldset>

                <div class="form-group">
                    <label class=" control-label">Are you awesome</label>
                    <div class="">
                        <div>
                            <label>
                                <input name="radios" value="1" checked="checked" type="radio">
                                Dưới 18 tuổi
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="radios" value="1" type="radio">
                                Từ 18 tuối đến 25 tuổi
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="radios" value="1" type="radio">
                                Từ 25 tuối đến 35 tuổi
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="radios" value="1" type="radio">
                                Trên 35 tuổi
                            </label>
                        </div>
                    </div>
                </div>


                <!-- Text input-->
                <div class="form-group">
                    <label class=" control-label" for="textinput">Nghề nghiệp</label>
                    <div class="">
                        <input placeholder="" class="form-control input-md" type="text">
                    </div>
                </div>
                <!-- Password input-->
                <div class="form-group">
                    <label class=" control-label" for="radios">Khoảng thời gian bạn sử dụng máy tính trong một ngày</label>
                    <div class="">
                        <div>
                            <label>
                                <input name="radios" value="1" checked="checked" type="radio">
                                Dưới 2 giờ
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="radios" value="1" type="radio">
                                Từ 2 giờ đển 4 giờ
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="radios" value="1" type="radio">
                                Từ trên 4 giờ đến 6 giờ

                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="radios" value="1" type="radio">
                                Từ trên 6 giờ đến 8 giờ
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="radios" value="1" type="radio">
                                Trên 8 giờ
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label" for="radios">Mục đích sử dụng</label>
                    <div class="">
                        <div class="radio">
                            <label for="radios-0">
                                <input name="radios" value="1" checked="checked" type="radio">
                                Học tập
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input name="radios" value="2" type="radio">
                                Giải trí
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input name="radios" value="2" type="radio">
                                Công việc

                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label" for="textinput">Các chương trình thường sử dụng</label>
                    <div class="">
                        <input placeholder="" class="form-control input-md" type="text">
                        <span class="help-block">help</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label" for="radios">Bạn muốn cải thiện phần nào ở máy của mình hiện tại</label>
                    <div class="">
                        <div class="radio">
                            <label for="radios-0">
                                <input name="radios" value="1" checked="checked" type="radio">
                                Ram
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input name="radios" value="2" type="radio">
                                CPU
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input name="radios" value="2" type="radio">
                                VGA (card màn hình)
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input name="radios" value="2" type="radio">
                                Ổ cứng
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label" for="radios">Khi nâng câp hoặc mua máy mới bạn sẽ quan tâm đến những điều gì</label>
                    <div class="">
                        <div class="radio">
                            <label for="radios-0">
                                <input name="radios" value="1" checked="checked" type="radio">
                                Hiệu Năng
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input name="radios" value="2" type="radio">
                                Hiệu Suất
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input name="radios" value="2" type="radio">
                                Giá Thành
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input name="radios" value="2" type="radio">
                                Thiết Kế
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input name="radios" value="2" type="radio">
                                Nhãn Hiệu
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class=" control-label" for="textarea">Các vấn đề hiện bạn đang gặp với máy tính của mình</label>
                    <div class="">
                        <textarea class="form-control" id="textarea" name="textarea"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5 col-md-6">
                            <button id="button1id" name="button1id" class="btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
