
<link href="~/Content/Consult.css" rel="stylesheet" />
<div class="container auth">
    <h1 class="text-center">Tìm hiểu về nhu cầu về máy tính và laptop <span>Đây là một vài câu hỏi liên quan đến về những vấn đề khi bạn muốn nâng cấp hoặc mua linh kiện, máy mới,...</span> </h1>
    @{
        if (null != Session["Problem"])
        {
            @Html.Raw("<h3 class='success-mesage font-green-sharp' style='display: none;font-size: 20px;color: #000000!important;font-weight: bold;'>" + Session["Problem"] + "</h3>");
            <script type="text/javascript">
                $(function () {
                    $('.success-mesage').delay(500).fadeIn('normal', function () {
                        $(this).delay(10000).fadeOut();
                    });
                });
            </script>
            Session["Problem"] = null;
        }
    }
    <div id="big-form" class="well auth-box">
        <form method="post">
            <fieldset>
                <div class="form-group">
                    <label class=" control-label">Bạn đã sử dụng chiếc máy tính đó đã bao lâu ?</label>
                    <div class="">
                        <div>
                            <label>
                                <input name="Age" checked="checked" value="Dưới 18 tuổi" type="radio">
                                Dưới 1 năm
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Age" value="Từ 18 tuối đến 25 tuổi" type="radio">
                                1 đến 3 năm
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Age" value="Từ 25 tuối đến 35 tuổi" type="radio">
                                Trên 3 đến 5 năm
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Age" value="Trên 35 tuổi" type="radio">
                                Trên 5 năm
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label" for="radios">Khoảng thời gian bạn sử dụng máy tính trong một ngày</label>
                    <div class="">
                        <div>
                            <label>
                                <input name="Time" checked="checked" value="Dưới 2 giờ" type="radio">
                                Dưới 2 giờ
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Time" value="Từ 2 giờ đển 4 giờ" type="radio">
                                Từ 2 giờ đển 4 giờ
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Time" value="Từ trên 4 giờ đến 6 giờ" type="radio">
                                Từ trên 4 giờ đến 6 giờ
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Time" value="Từ trên 6 giờ đến 8 giờ" type="radio">
                                Từ trên 6 giờ đến 8 giờ
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Time" value="Trên 8 giờ" type="radio">
                                Trên 8 giờ
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label" for="radios">Mục đích sử dụng</label>
                    <div class="">
                        <div>
                            <label>
                                <input name="Goal" checked="checked" value="Học tập" type="radio">
                                Học tập
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Goal" value="Giải trí" type="radio">
                                Giải trí
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Goal" value="Công việc" type="radio">
                                Công việc
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label" for="radios">Bạn muốn cải thiện phần nào ở máy của mình hiện tại</label>
                    <div class="">
                        <div>
                            <label>
                                <input name="Improve" checked="checked" value="Tốc độ" type="radio">
                                Tốc độ
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Improve" value="Dung lượng ổ cứng" type="radio">
                                Dung lượng ổ cứng
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Improve" value="Trải nghiệm game" type="radio">
                                Trải nghiệm game
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="Improve" value="Nhiệt độ" type="radio">
                                Nhiệt độ
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5 col-md-6">
                            <button id="button1id" name="button1id" class="btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
