<link href="~/Content/News.css" rel="stylesheet" />
<div class="container">
    <h1>
        <span><strong>Welcome to TKZL</strong></span>
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="thumbnail img-thumb-bg">
                <div class="overlay"></div>
                <div class="caption">
                    <div class="tag"><a href="#">Real Estate</a></div>
                    <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                    <div class="clearfix">
                        <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                        <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="thumbnail img-thumb-bg">
                <div class="overlay"></div>
                <div class="caption">
                    <div class="tag"><a href="#">Real Estate</a></div>
                    <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                    <div class="clearfix">
                        <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                        <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="thumbnail img-thumb-bg">
                <div class="overlay"></div>
                <div class="caption">
                    <div class="tag"><a href="#">Real Estate</a></div>
                    <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                    <div class="clearfix">
                        <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                        <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-md-offset-6 ">
                        <div class="thumbnail img-thumb-bg">
                            <div class="overlay"></div>
                            <div class="caption">
                                <div class="tag"><a href="#">Real Estate</a></div>
                                <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                <div class="clearfix">
                                    <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                    <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                </div>
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="thumbnail img-thumb-bg">
                            <div class="overlay"></div>
                            <div class="caption">
                                <div class="tag"><a href="#">Real Estate</a></div>
                                <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                <div class="clearfix">
                                    <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                    <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                </div>
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="title">
            <div class="title-word">Hiệu Suất</div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class="carousel slide media-carousel" id="media">
                <div class="carousel-inner">
                    <div class="item  active">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                <a data-slide="next" href="#media" class="right carousel-control">›</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="title">
            <div class="title-word">Máy Tính bị nóng</div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class="carousel slide media-carousel" id="media1">
                <div class="carousel-inner">
                    <div class="item  active">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#media1" class="left carousel-control">‹</a>
                <a data-slide="next" href="#media1" class="right carousel-control">›</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="title">
            <div class="title-word">Linh kiện không hoạt động</div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class="carousel slide media-carousel" id="media">
                <div class="carousel-inner">
                    <div class="item  active">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                <a data-slide="next" href="#media" class="right carousel-control">›</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="title">
            <div class="title-word">Các Lỗi khác</div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class="carousel slide media-carousel" id="media">
                <div class="carousel-inner">
                    <div class="item  active">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="thumbnail img-thumb-bg">
                                    <div class="overlay"></div>
                                    <div class="caption">
                                        <div class="tag"><a href="#">Real Estate</a></div>
                                        <div class="title"><a href="#">Gorgeous Ensea House in California</a></div>
                                        <div class="clearfix">
                                            <span class="meta-data">By <a href="">Admin</a>on 29/06/2016</span>
                                            <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span>
                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                <a data-slide="next" href="#media" class="right carousel-control">›</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#media').carousel({
            pause: true,
            interval: false,
        });
    });
    $(document).ready(function () {
        $('#media1').carousel({
            pause: true,
            interval: false,
        });
    });
</script>
</body>